<div class="contents row">
  <% @musicians.each do |musician| %>
    <div class="content_post">
     <%= image_tag musician.image.variant(resize: '500x500'), class: 'musician-image'if musician.image.attached? %>
     <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
        　<li>
            <%= link_to '詳細', musician_path(musician.id), method: :get %>
          </li>
          <li>
            <%= link_to '編集', edit_musician_path(musician.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', musician_path(musician.id), method: :delete %>
          </li>
        </ul>
      </div>
      <p><%= musician.musician_name %></p>
      <span class="name">
         <a href="/users/<%= musician.user.id %>">
          <span>投稿者</span><%= musician.user.nickname %>
        </a>
      </span>
    </div>
  <% end %>
</div>