<div class="contents row">
  <div class="content_post">
   <%= image_tag @musician.image.variant(resize: '500x500'), class: 'musician-image'if @musician.image.attached? %>
   <% if user_signed_in? && current_user.id == @musician.user_id %>
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_musician_path(@musician.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', musician_path(@musician.id), method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <%# <p><%= @musician.musician_view %></p> %>
    <p><%= @musician.musician_name %></p>
    <span class="name">
      <a href="/users/<%= @musician.user.id %>">
        <span>投稿者</span><%= @musician.user.nickname %>
      </a>
    </span>
  </div>
</div>

<div class="musician-show">
 <div class="musician-box">
  <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-musician">音楽家</th>
          <td class="detail-music"><%= @musician.musician_name %></td>
        </tr>
         <tr>
          <th class="detail-musician">生年月日</th>
          <td class="detail-music"><%= @musician.date_of_birth %></td>
        </tr>
        <tr>
          <th class="detail-musician">音楽家の概要</th>
          <td class="detail-music"><%= @musician.musician_view %></td>
        </tr>
        <tr>
          <th class="detail-musician">代表曲</th>
          <td class="detail-music"><%= @musician.musician_song %></td>
        </tr>
      </tbody>
   </table>
  </div>
</div>

  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@musician, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "コメントする" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜作曲家・曲に関するコメントを投稿するようにお願いします。＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
